
.open {
	width: 500px;
	height: 500px;
	background: #6AADF7;
	position: relative;
}
.close {
	width: 500px;
	height: 100px;
	background: #6AADF7;
	position: relative;
}

#top {
	width: 100%;
	height: 50px;
	/*border: 1px solid red;*/
	background: #488EDE;
	position: absolute;
	top: 0px;
}

#middle {
	position: absolute;
	top: 50px;
}

#bottom {
	width: 100%;
	height: 50px;
	/*border: 1px solid red;*/
	background: #488EDE;
	position: absolute;
	bottom: 0px;
}

#div-move {
	width: 100px;
	height: 100px;
	background: #ccc;
	position: absolute;
}